html {
    background-color: beige;
}

body {
    width: 1400px;
    margin: auto;
}

b {
    font-weight: 600;
}

.cell {
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    padding: 10px;
    line-height: 170%;
}

.today {
    border-color: darkkhaki!important;
}

#title {
    display: flex;
    border-color: wheat!important;
    background-color: ivory;
}

.date {
    font-weight: 600;
    background-color: ivory;
}

#meal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#credit {
    float: right;
    margin-bottom: 20px;
}

#go-today {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 20px;
    border: 3px solid aqua;
    font-size: 1em;
    font-weight: 700;
    width: auto;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    body {
        width: 100%;
    }

    #go-today {
        display: inline-block;
    }

    #meal {
        grid-template-columns: repeat(1, 1fr);
    }
}